@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: var(--font-manrope), "Trebuchet MS", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
